no.nav.security.jwt:
  issuer:
    aad:
      discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
      accepted_audience: ${AZURE_APP_CLIENT_ID}
  client:
    registration:
      auth: &auth
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      eux-credentials:
        <<: *auth
        scope: api://${AZURE_APP_EUX_CLIENT_ID}/.default
      kodeverk-credentials:
        <<: *auth
        scope: api://${AZURE_APP_KODEVERK_CLIENT_ID}/.default
      pdl-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PDL_CLIENT_ID}/.default
      pdl-mottak-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PDL_MOTTAK_CLIENT_ID}/.default
      saf-credentials:
        <<: *auth
        scope: api://${AZURE_APP_SAF_CLIENT_ID}/.default

METRICS_REQUESTFILTER_ENABLE: true

kafka:
  oppgave:
    topic: ${KAFKA_OPPGAVE_TOPIC}
    groupid: eessi-pensjon-pdl-produsent-group
  sedMottatt:
    topic: ${KAFKA_SEDMOTTATT_TOPIC}
    groupid: eessi-pensjon-pdl-produsent-group
  sedGjenlevMottatt:
    topic: ${KAFKA_SEDMOTTATT_TOPIC}
    groupid: eessi-pensjon-pdl-produsent-gjenlev-group
  utenlandskAdresse:
    topic: ${KAFKA_SEDMOTTATT_TOPIC}
    groupid: eessi-pensjon-pdl-adresse-group
  security.protocol: SSL
  brokers: ${KAFKA_BROKERS:localhost:9092}

#Metrics
management:
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include: info, health, metrics, prometheus
  endpoint:
    info:
      show-details: "ALWAYS"